<!-- DOC: nav menu layout change shortcut -->
<div class="hidden-md-down dropdown-icon-menu position-relative">
  <a
    href="#"
    class="header-btn btn js-waves-off"
    (click)="toggleHideNavigation($event)"
    title="Hide Navigation"
    data-class="nav-function-hidden"
  >
  <i class="fas fa-bars"></i>
  </a>
  <ul>
    <li>
      <a
        href="#"
        class="btn js-waves-off"
        (click)="toggleMinifyNavigation($event)"
        title="Minify Navigation"
        data-class="nav-function-minify"
      >
      <i class="fas fa-chevron-left"></i>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="btn js-waves-off"
        (click)="toggleFixedNavigation($event)"
        title="Lock Navigation"
        data-class="nav-function-fixed"
      >
      <i class="fas fa-lock"></i>
      </a>
    </li>
  </ul>
</div>
