<div class="input-group">
  <input type="text" placeholder="Search..." name="" class="form-control search" [(ngModel)]="searchText">
  <span><i class="fas fa-search"></i></span>
</div>

<div class="chat-list">
  <form>
    <div *ngFor="let chat of chats | filter:searchText; let i = index ">
      <div *ngIf="chat.lastMessage.status != 'hidden' && chat.lastMessage.status != ''">
        <div class="card-body" [ngClass]="[((chat.lastMessage.status == 'delivered') && (chat.lastMessage.sender.senderId != customerId) && (chat.lastMessage.sender.senderId != agentId))? 'contacts_body_active': 'contacts_body' ]" (click)="changeCustomerDetails(chat)">
          <div [ngClass]="(chat.checked == true)? 'checked': ''">
            <div class="img_cont" *ngIf="chat.customer.imageUrl != '' && chat.customer.imageUrl != null">
              <img src={{chat.customer.imageUrl}} class="rounded-circle user_img">
              <span [ngClass]="(chat.customerOnline == true)? 'online_icon': 'offline_icon'"></span>
              <span class="inputGroup" *ngIf="showCheckbox">
                <input  type="checkbox" [value]="chat.customer.emailOrPhoneNo" (change)="changeCloseEvent($event)" [ngModel]="(chat.checked == true)?true:false" [name]="''+i"/>
              </span>
            </div>

            <div class="img_cont" *ngIf="chat.customer.imageUrl == '' || chat.customer.imageUrl == null">
              <div class="profile-img-letter">
                {{chat.customer.name.charAt(0)}}
              </div>
              <span [ngClass]="(chat.customerOnline == true)? 'online_icon': 'offline_icon'"></span>
              <span class="inputGroup" *ngIf="showCheckbox">
                <input  type="checkbox" [value]="chat.customer.emailOrPhoneNo" (change)="changeCloseEvent($event)" [ngModel]="(chat.checked == true)?true:false" [name]="''+i"/>
              </span>
            </div>
            <div [ngClass]="(chat.lastMessage.status == 'delivered' && chat.lastMessage.sender.senderId != customerId && chat.lastMessage.sender.senderId != agentId)? 'chat_info_active': 'chat_info'">
              <h5>{{chat.customer.name}}
                <span class = "new_msg" *ngIf="(chat.lastMessage.status == 'delivered' && chat.lastMessage.sender.senderId != customerId && chat.lastMessage.sender.senderId != agentId)"> &nbsp;  &nbsp;<i class="fas fa-circle"></i></span>
                <span class="chat_date">{{chat.lastMessage.timestamp+'Z'| date:'shortTime'}}</span>
                <p class="phoneNo">{{chat.customer.phoneNo}}</p>
              </h5>

              <div class="msg-details">
                <p class="display_msg" *ngIf="chat.lastMessage.contentType=='text'"><i class="fas fa-check" *ngIf="chat.lastMessage.sender.senderId == agentId"></i> &nbsp;{{chat.lastMessage.message}}
                  <span class="chat_agent" *ngIf="chat.agentId != ''">@{{chat.agentId}}</span>
                </p>
                <p *ngIf="chat.lastMessage.contentType=='image'"><i class="fas fa-check" *ngIf="chat.lastMessage.sender.senderId == agentId"></i> &nbsp; <i class="fas fa-images"></i> &nbsp; Image
                  <span class="chat_agent" *ngIf="chat.agentId != ''" >@{{chat.agentId}}</span>
                </p>
                <p *ngIf="chat.lastMessage.contentType=='video'"><i class="fas fa-check" *ngIf="chat.lastMessage.sender.senderId == agentId"></i> &nbsp; <i class="fas fa-video"></i> &nbsp; video
                  <span class="chat_agent" *ngIf="chat.agentId != ''" >@{{chat.agentId}}</span>
                </p>
              </div>
            </div>
          </div>

          <!-- <div class="card-body" [ngClass]="{
            'contacts_body_active': ((chat.lastMessage.status == 'delivered') && (chat.lastMessage.sender.senderId != customerId) && (chat.lastMessage.sender.senderId != agentId) && (chat.checked != true)),
            'contacts_body': ((chat.lastMessage.status != 'delivered') && (chat.checked != true)),
            'contacts_body_active-checked': ((chat.lastMessage.status == 'delivered') && (chat.lastMessage.sender.senderId != customerId) && (chat.lastMessage.sender.senderId != agentId) && (chat.checked == true)),
            'contacts_body_checked': ((chat.lastMessage.status != 'delivered') && (chat.checked == true))
          }" (click)="changeCustomerDetails(chat)"> -->


        </div>
      </div>
    </div>
  </form>


</div>

